@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Montserrat&family=Tiro+Kannada:ital@1&display=swap');


:root {
    --custom-color: rgb(59, 55, 55);
    --padding: 20px;
    --medium-font-size: 1.5em;
    --big-font-size: 2.5em;
    --input-padding: 30px 40px;
    --margin-bottom: 15px;
    --margin-top: 6px;
    --border: 1px solid black;
    --misc-color: black;
}


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Amaranth', sans-serif;
    font-size: 16px;
}



.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 400px;
}



.clone_heading {
    font-family: 'Amaranth', sans-serif;
    text-align: center;
    color: var(--misc-color);
    margin-top: var(--margin-top);
    padding:var(--padding);
    font-weight: 100;
    font-size: 25px;
}


.form {
    width: 50%;
    margin: 20px auto;
}


.form_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
}


.form_group-label {
    color: var(--custom-color);
    font-weight: 20;
    font-size: 15px;
    margin-bottom: var(--margin-bottom);

}



input {
    padding: var(--input-padding);
    margin-bottom: var(--margin-bottom);
    border: var(--border);
    cursor: pointer;
}


input::placeholder {
    font-size: 14px;
    font-family: 'Amaranth', sans-serif;
}


select {
    padding: var(--input-padding);
    border: var(--border);
    color: var(--custom-color);
    background-color: white;
    cursor: pointer;
}


.btn-submit {
    padding: var(--input-padding);
    margin-top: var(--margin-top);
    border: none;
    cursor: pointer;
    background-color: var(--misc-color);
    color: white;
    font-size: 16px;
    transition: 0.3s;
}


.btn-submit:hover {
    background: rgb(75, 58, 58);
}